Bot/.env
Site/.env
Bot/__pycache__
Bot/tools/__pycache__
Bot/Commands/__pycache__
Bot/Other/__pycache__
Bot/Moderation/__pycache__
Bot/Moderation/Message_Checks/__pycache__
Site/__pycache__
Site/flask_wtf_stuff/__pycache__
Bot/wtf.json
Bot/wtf2.json
Filter/libfilter.h
Filter/libfilter.so