aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.4
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cryptography==3.3.1
discord.py==1.6.0
emoji==0.6.0
flake8==3.8.4
Flask==1.1.2
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.6.1
motor==2.3.0
multidict==4.7.6
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.3
pymongo==3.11.2
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
websockets==8.1
Werkzeug==1.0.1
yarl==1.5.1