<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/spectre.min.css">
  <link rel="stylesheet" href="/css/spectre-exp.min.css">
  <link rel="stylesheet" href="/css/spectre-icons.min.css">
  <title>All Seeing Bot</title>
</head>
<body>
  <main class="ml-2 mr-2 mt-1">
    <header class="navbar">
      <section class="navbar-section">
        <a href="/dashboard" class="navbar-brand mr-2">All Seeing Bot</a>
        <a href="/dashboard/home" class="btn btn-link">Home</a>
        <a href="/dashboard/profile" class="btn btn-link">Profile</a>
      </section>
      <section class="navbar-center">
        <a href="/" class="btn-btn-link">👁️</a>
      </section>
      <section class="navbar-section">
        <a href="https://github.com/repl-it-discord/all-seeing-bot" target="__blank">GitHub</a>
      </section>
    </header>
