<link rel="stylesheet" href="/css/manage.css" />
<div class="columns">
  <div class="column col-8">
    <ul class="tab tab-block">
      <li class="tab-item">
        <a onclick="perms()" style="cursor: pointer;" id="permsTab">Perms</a>
      </li>
      <li class="tab-item">
        <a onclick="commands()" style="cursor: pointer;" id="commandsTab"
          >Commands</a
        >
      </li>
    </ul>
  </div>
  <div class="column col-16">
    <div class="dropdown dropdown-right float-right">
      <a class="btn btn-primary dropdown-toggle" tabindex="5">
        {% if channel_name != None %} #{{ channel_name }} {% else %} Channels
        {%endif%}
        <i class="icon icon-caret"></i>
      </a>
      <ul class="menu text-left p-absolute" style="z-index: 909;">
        <li class="menu-item">
          <a style="cursor: pointer;" id="channelGeneral">Default Settings</a>
        </li>
        {% for cat in channels %}
          <li class="divider" data-content="{{ cat[0] }}"></li>
          {% for c in cat[1] %} 
            <li class="menu-item">
              <a style="cursor: pointer;" id="channel{{c[1]}}">
                #{{ c[0] }}
              </a>
            </li>
          {% endfor %}
        {% endfor %} 
      </ul>
    </div>
    <div class="dropdown dropdown-right float-right">
      <a class="btn btn-primary dropdown-toggle" tabindex="5">
        {% if role_name != None and role_name != '@everyone' %} @{{ role_name }}
        {% else %} @everyone {%endif%}
        <i class="icon icon-caret"></i>
      </a>
      <ul class="menu text-left p-absolute" style="z-index: 909;">
        {% for r in roles %}

        <li class="menu-item">
          <a style="cursor: pointer;" id="role{{r[1]}}">
            {% if r[0] != '@everyone' %} @{{ r[0] }} {% else %} {{ r[0] }} {%
            endif %}
          </a>
        </li>

        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<br />

<form
  action="/submit?tab=commands&g={{ guild_id }}{%if channel != None%}&c={{channel}}{%endif%}{% if role != None%}&r={{ role }} {%endif%}"
  method="POST"
  id="form"
>
  {{ form.hidden_tag() }}

  <div class="columns">
    <div class="column col-1 col-mx-auto">
      <ul class="nav menu">
        <li class="divider" data-content="Categories"></li>
        {% for cog in form.cogs %}
        <li
          class="menu-item"
          id="nav{{cog.label}}"
          data-cogName="{{cog.label}}"
        >
          <a href="#" id="{{ cog.label }}Label">{{ cog.label }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="column col-6 col-lg-auto col-mr-auto" id="cogContents">
      {% for cog in form.cogs %} {{ cog.hidden_tag() }}
      <ul
        class="menu text-left"
        style="display: none;"
        id="{{cog.label}}Commands"
      >
        <li class="divider" data-content="Commands"></li>
        {% for command in cog.commands %}
        <li class="menu-item">
          <a>
            <label class="form-switch" style="cursor: pointer;">
              {{ command.hidden_tag() }} {{ command.check() }}
              <i class="form-icon"></i>
              <b>{{ command.check.label }}:</b>
              <c class="text-italic">{{ command.desc }}</c>
            </label>
          </a>
        </li>
        {% endfor %}
      </ul>

      {% endfor %}
    </div>
  </div>
  <br /><br />
  {{ form.submit() }}
</form>
<script>
  function setOnclick(cogName) {
    document.getElementById("nav" + cogName).addEventListener("click", () => {
      Array.from(document.getElementById("cogContents").children).forEach((element) => {
        element.style.display = "none";
      })
      {% for cog in form.cogs %}
        document.getElementById("{{cog.label}}Label").classList = "";
      {% endfor %}
      document.getElementById(cogName + "Label").classList = "active";
      document.getElementById(cogName + "Commands").style.display = "block";
    })
  }

  {% for cog in form.cogs %}
  	setOnclick("{{cog.label}}")
  {% endfor %}
  document.getElementById("{{form.cogs[0].label}}Commands").style.display = "block";
  document.getElementById("{{form.cogs[0].label}}Label").classList = "active"

  function addChannelLink(channelId) {
  	if (channelId === 'General') {
  			document.getElementById("channelGeneral").addEventListener('click', () => {
  			let args = [
  				"tab=commands"
  			]
  			if (role != null) {
  				args.push(role)
  			}
  			channel = null
  			history.pushState(null, null, "?" + args.join('&'))
  			let url = "/load/{{ guild_id }}?" + args.join('&')

  			commands(url)
  			})
  	} else {
  		document.getElementById("channel" + channelId).addEventListener('click', () => {
  			let args = ["tab=commands"]
  			if (role != null) {
  				args.push(role)
  			}
  			console.log(args)
  			channel = 'c=' + channelId
  			args.push(channel)
  			history.pushState(null, null, "?" + args.join('&'))
  			let url = "/load/{{ guild_id }}?" + args.join('&')
  			console.log(url)
  			commands(url)
  		})
  	}
  }

  {% for cat in channels %}
  	{% for c in cat[1] %}
      addChannelLink("{{c[1]}}")
    {% endfor %}
  {% endfor %}

  addChannelLink('General')


  function addRoleLink(roleId) {
  	document.getElementById("role" + roleId).addEventListener('click', () => {
  		let args = ["tab=commands"]

  		console.log(args)
  		role = 'r=' + roleId
  		args.push(role)
  		history.pushState(null, null, "?" + args.join('&'))
  		let url = "/load/{{ guild_id }}?" + args.join('&')
  		console.log(url)
  		commands(url)
  	})
  }

  {% for r in roles %}

  	addRoleLink('{{r[1]}}')

  {% endfor %}

  function setup() {
  	let args = ["tab=commands"]

  	if (channel != null) {
  		args.push(channel)
  	}
  	if (role != null) {
  		args.push(role)
  	}
  	history.pushState(null, null, "?" + args.join('&'))
  	let url = "/load/{{ guild_id }}?" + args.join('&')
  	document.getElementById("permsTab").classList.remove('active')
  	document.getElementById("commandsTab").classList.add('active')


  }

  setup()

  setup()
</script>
