<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/spectre.min.css" />
    <link rel="stylesheet" href="/css/spectre-exp.min.css" />
    <link rel="stylesheet" href="/css/spectre-icons.min.css" />
    <title>AllSeeingBot</title>
  </head>
  <body class="ml-2 mr-2 pl-1 pr-1 pt-2">
    <header class="navbar" r75sax>
      <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2 pr-2" style="white-space: nowrap;"
          >AllSeeingBot</a
        >
      </section>

      <section class="navbar-section">
        <a
          class="btn ml-1"
          href="https://github.com/repl-it-discord/all-seeing-bot"
          target="__blank"
          >GitHub</a
        >
      </section>
    </header>
    <div class="divider pb-2"></div>
    <main class="mt-2">
      <div class="tile ml-2 mr-2 mt-2">
        <div class="tile-icon">
          <div class="example-tile-icon">
            <figure class="avatar avatar-xl">
              <img
                src="https://cdn.discordapp.com/avatars/{{ user['id'] }}/{{ user['avatar'] }}?size=256"
                alt="profile picture for {{ user['username'] }}"
              />
            </figure>
          </div>
        </div>
        <div class="tile-content">
          <h3 class="tile-title">
            {{ user['username'] }}#{{ user['discriminator'] }}
          </h3>
          <p class="tile-subtitle">{{ header_right|safe }}</p>
        </div>
      </div>
    </main>
  </body>
</html>
