{% set header_right = '<b class="text-large">' + guild_name + '</b>'%}
<link rel="stylesheet" href="/css/manage.css" />
{% include "header.jinja2" %}

<div id="content">
  <div class="loader p-centered">
    {% for a in range(8)%}
    <div></div>
    {% endfor %}
  </div>
  Loading data...
</div>
{% if 'tab' in args %} {% if args['tab'] == 'perms' %} {% set perm_page = 'true'
%} {% else %} {% set perm_page = 'false' %} {% endif %} {% else %} {% set
perm_page = 'true' %} {% endif %}
<script>

  const LoadingBarHtml = `<div class='loader p-centered'>
  	{% for a in range(8)%}
  		<div></div>
  	{% endfor %}
  </div>
  `

  const IsPermSite = '{{ perm_page }}'


  {% if channel != None %}
  	channel = "c={{ channel }}"
  {% else %}
  	channel = null
  {% endif %}
  {% if role != None %}
  	role = "r={{ role }}"
  {% else %}
  	role = null
  {% endif %}
  console.log(role)
  console.log('{{role}}')

  let args = [
  	{% if channel != None %}
  		'c={{ channel }}',
  	{% endif %}
  	{% if role != None%}
  		'r={{ role }}',
  	{% endif %}
  	{% if 'tab' in args %}
  		"tab={{ args['tab'] }}"
  	{% endif %}
  ]

  let url = "/load/{{ guild_id }}?" + args.join('&')

  function load(url, element) {
    var req = new XMLHttpRequest();
    req.open("GET", window.location.origin + url, false);
    req.send(null);
    element.innerHTML = req.responseText;
  }

  load(url, document.getElementById("content"))

  function nodeScriptReplace(node) {
    if ( nodeScriptIs(node) === true ) {
      node.parentNode.replaceChild( nodeScriptClone(node) , node );
    }
    else {
      var i = 0;
      var children = node.childNodes;
      while ( i < children.length ) {
        nodeScriptReplace( children[i++] );
      }
    }
    return node;
  }
  function nodeScriptIs(node) {
    return node.tagName === 'SCRIPT';
  }
  function nodeScriptClone(node){
    var script  = document.createElement("script");
    script.text = node.innerHTML;
    for( var i = node.attributes.length-1; i >= 0; i-- ) {
      script.setAttribute( node.attributes[i].name, node.attributes[i].value );
    }
    return script;
  }

  nodeScriptReplace(document.getElementById("content"))
  console.log('done')




  function perms(url=null) {
  	setup = undefined
  	document.getElementById("form").innerHTML = LoadingBarHtml
  	let args = ["tab=perms"]
  	if (channel != null) {
  		args.push(channel)
  	}
  	if (role != null) {
  		args.push(role)
  	}
  	history.pushState(null, null, "?" + args.join('&'))
  	window.location.href.split('#')[0]
  	if (url === null ) {

  		console.log("?" + args.join('&'))
  		url = "/load/{{ guild_id }}?" + args.join('&')
  		console.log(url)
  	}
  	console.log(url)
  	load(url, document.getElementById("content"))
  	nodeScriptReplace(document.getElementById("content"))
  }

  function commands(url=null) {
  	setup = undefined
  	document.getElementById("form").innerHTML = LoadingBarHtml
    console.log("brhi")
  	window.location.href.split('#')[0]
  	if (url === null) {
  		let args = ["tab=commands"]
  		if (channel != null) {
  			args.push(channel)
  		}
  		if (role != null) {
  		args.push(role)
  	}
  		history.pushState(null, null, "?" + args)
  		url = "/load/{{ guild_id }}?" + args.join('&')
  	}


  	console.log('COMMANDS: ' + url)

  	load(url, document.getElementById("content"))
  	nodeScriptReplace(document.getElementById("content"))
  }
  document.onload = setup()
</script>
{% include 'footer.jinja2' %}
